@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

*, body{
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  /*overflow-x: hidden;*/
}

header{
  font-size: 14px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}
.logo{
  width: 115px;
}
.microsoft365::before{
    border-left: 2px solid #000;
    height: 24px;
    content: "";
    margin-left: 27px;
    margin-right: 27px;
}
.microsoft365{
  font-size: 1.1rem;
  font-weight: 600;
}
nav {
  flex-grow: 1;
}
header li {
  padding: 15px;
}

.nav-list li:last-child a{
    border: 1px solid;
    border-radius: 3px;
    padding: 10px;
}
.nav-list a:hover{
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}
.banner1-img{
  max-width: 100%;
  margin-bottom: 70px;
}
.banner1 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.banner1-text{
  position: absolute;
  top: 30%;
  left: 10%;
}
.banner1 h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 50px;
}
.mid-section-text h3 {
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.mid-section-text a {
  color: #237bc1;
  font-weight: 600;
  margin-top: 10px;
}
.mid-section-text a:hover {
  border-bottom: 1px solid #237bc1;
}

.mid-section-text {
  margin-bottom: 50px;
}

.office-logos img{
  width: 75px;
}
 .office-logos div {
   padding: 30px;
 }

