/* Medium devices (tablets, less than 992px)*/
@media (max-width: 1300.00px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: none;
    }

    .tablet {
        display: block;
    }

    .nav {
        width: 95vw;

    }

    .trailing i {
        padding: 0 1px 0 1px;
    }

    section {
        width: 95vw;
    }

    .s2 section {
        flex-basis: 45%;
    }

    .s-article section {
        flex-basis: 20%;
        padding-bottom: 30px;
    }

}

@media (max-width: 988.00px) {

    .hide li:nth-child(6) {

        display: none;

    }

    .hide1 {
        display: none !important;
    }

    .row {
        flex-basis: 30%;
        padding-bottom: 30px;
    }

    .s-article section {
        flex-basis: 20%;
        padding-bottom: 30px;
    }
}

@media (max-width: 928.00px) {

    .hide li:nth-child(5) {
        display: none;

    }

    .s-article section {
        flex-basis: 45%;
        padding-bottom: 30px;
    }
}

@media (max-width: 881.00px) {

    .hide li:nth-child(4) {
        display: none;

    }

    .s-items li {
        flex-basis: 45%;
    }

    .s-article section {
        flex-basis: 45%;
        padding-bottom: 30px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768.00px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .tablet {
        display: none;
    }

    .nav {
        width: 99vw;
    }

    section {
        width: 99vw;
    }

    .row {
        flex-basis: 100%;
        padding: 0 0 20px 0px;
    }

    .s2 section {
        flex-basis: 100%;
    }

    .s-items li {
        flex-basis: 100%;
        padding-bottom: 30px;
    }

    .s-article section {
        flex-basis: 99%;
        padding-bottom: 30px;
    }
}

/* Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... } */