.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-center {
  justify-content: center;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

/* .desktop {
  display: block;
} */

.tablet {
  display: none;
}

.mobile {
  display: none;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.boxes {
  display: flex;
  margin-bottom: 50px;
  padding: 65px;
}
